<header class="header js-header-scroll">
  <div class="top-banner">
    <a href="https://pro.t1.ru/event/hCuUUWmi?utm_source=marketing&utm_medium=events&utm_campaign=webweek&utm_content=1006&utm_term=enterprise" class="top-banner__wrap" target="_blank">
      <div class="top-banner__container">
        <p class="top-banner__label">Обзорный вебинар DION</p>
        <p class="top-banner__text">10 июня в 11:00&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Как упростить коммуникации в компании?</p>
      </div>
    </a>
    <div class="top-banner__close-button" onclick="
      document.querySelector('.top-banner').style.display = 'none';
      document.querySelector('.header__wrap').style.marginTop = '0px';"
    >
      <img src='../../assets/img/cross.png' alt="cross">
    </div>
  </div>

  <div class="header__wrap">
    <a href="/" class="header__logo">
      {{{getSvg src="logo"}}}
    </a>

    <nav class="header__nav">
      {{#each list}}
        <a href="{{href}}" class="header__nav__item">{{label}}</a>
      {{/each}}
    </nav>

    <div class="burger js-burger">
      <div class="burger__btn js-burger-btn">
        <div class="burger__btn__wrap">
          <span></span>
          <span></span>
          <span></span>
          <span></span>

        </div>
      </div>
      <div class="burger__menu">
        <div class="burger__menu__overlay js-burger-overlay"></div>
        <div class="burger__menu__wrap">
          {{#each list}}
            <a href="{{href}}" class="header__nav__item js-burger-link">{{label}}</a>
          {{/each}}
        </div>
      </div>
    </div>

  </div>
</header>